#distance {
	padding: 0 5px;
    color: #fff;
    font-size: 20px;
}
#locationField {
	margin: 50px auto;
	width: 184px;
	border: 1px dashed gray;
	padding: 37px;
	background: green;
}
input, button {
	font-size: 14px;
	margin-bottom: 5px;
	padding: 10px;
	margin-top: 5px;
}